@page "/diasdelmes"
@rendermode InteractiveServer
<h3>DiasDelMes</h3>
<div class="mb-3">
    <label for="mes" class="form-label">Mes</label>
    <input type="number" class="form-control" id="mes" @bind="_mes" aria-describedby="mes">
    <br />
    <label for="año" class="form-label">Año</label>
    <input type="number" class="form-control" id="año" @bind="_año" aria-describedby="año">
</div>
<button class="btn btn-success" @onclick="Calcular">Calcular</button>

<h3>El mes @_mes del año @_año tiene @_dias dias </h3>
@code {
    private int _mes;
    private int _año;
    private int _dias;

    private void Calcular()
    {
        if(_mes == 1 || _mes == 3 || _mes == 5 || _mes == 7 || _mes == 8 || _mes == 10 || _mes == 12)
        {
            _dias = 31;
        }
        else if (_mes == 4 || _mes == 6 || _mes == 9 || _mes == 11)
        {
            _dias = 30;
        }
        else if (_mes == 2)
        {
            _dias = ((_año % 4 == 0 && _año % 100 != 0) || _año % 400 == 0) ? 29 : 28;
        }
    }
}
